<div class="card" id="{{type}}-card">
    <img src="{{image-path}}" class="card-img-top" alt="{{image-alt}}">
    <div class="card-body">
        <h1 class="card-article-title">{{title}}</h1>
        <h2 class="card-article-author">{{author}}</h2>
        <p class="card-article-summary">{{summary}}</p>
        <a href="{{link}}" class="btn btn-primary" id="click-to-read">Click to Read</a>
    </div>
</div>