<div class="card">
    <img src="{{image-path}}" class="card-img-top" alt="{{image-alt}}">
    <div class="card-body">
        <h5 class="card-title">{{card-title}}</h5>
        <p class="card-text">{{card-text}}</p>
        <a href="{{link}}" class="btn btn-primary">Click to go</a>
    </div>
</div>

<div class="event-card">
    <h2 class="event-title">{{title}}</h2>
    <p class="event-text">{{text}}</p>
</div>