<div class="stock-card" id="{{stock}}-stock-card">
  <div class="stock-card-body">
    <p>{{"{{Stock}}Data.meta.symbol"}}: {{"{{stock}}"Data.meta.latestPrice"}}</p>
    <p>Change: {{"{{stock}}Data.meta.changePercent"}}</p>
  </div>
</div>