<div class="card" id="{{type}}-card">
    <div class="card-body">
        
        <h1 class="card-article-title">{{title}}</h1>
        <h2 class="card-article-author">
            <a href="/articles/{{route}}" class="author-link">{{author}}</a>
        </h2>
        <p class="card-article-summary">{{summary}}</p>

       {{> components/buttons/topic-button button-text="{{buttonText}}"}} 
    
    </div>
</div>