<div class="card" id="{{type}}-card">
    
    <img src="{{image-path}}" class="card-img-top" alt="{{image-alt}}">
    
    <div class="card-body">
        
        <h1 class="card-article-title">{{title}}</h1>
        <h2 class="card-article-author">
            <a href="/articles/{{route}}" class="author-link">{{author}}</a>
        </h2>
        <p class="card-article-summary">{{summary}}</p>

        <div class="card-button-container" id="{{type}}-card-button-container">
            <a href="{{link}}" class="card-button" id="{{type}}-card-button" {{#if target}}target="{{target}}"{{/if}}>
                {{#if button-text}}
                    {{button-text}}
                {{else}}
                    Read More
                {{/if}}
            </a>
        </div>
    
    </div>
</div>